<!doctype html>
<html class="theme--default font-light">
<meta charset="UTF-8" />

<head>
  <title>njump - the nostr static gateway</title>
  <meta name="description" content="" />

  {{template "head_common" .HeadCommonPartial}}
</head>

<body class="mb-16 bg-white text-gray-600 dark:text-neutral-50 print:text-black dark:bg-neutral-900">
  {{template "top" .}}

  <div class="mx-auto sm:mt-8 block px-4 sm:flex sm:items-center sm:justify-center sm:px-0">
    <div
      class="flex w-full max-w-screen-xl justify-between gap-10 overflow-visible px-1 print:w-full sm:w-9/12 xl:w-3/5">
      <div>
        <h2 class="text-3xl font-serif font-semibold text-strongpink">¿Qué es njump?</h2>

        <p class="my-3 leading-5">
          <i>njump</i> es un HTTP
          <a class="underline decoration-dotted" href="https://github.com/nostr-protocol/nostr">Nostr</a>
          gateway que te permite navegar por perfiles, notas y relays; es una manera fácil de previsualizar un recurso y
          luego abrirlo con tu cliente preferido. El uso típico de <i>njump</i> es compartir un recurso fuera del mundo
          Nostr, donde el esquema
          <code>nostr:</code> no funciona (todavía).
        </p>
        <p class="my-3 leading-5">
          <i>njump</i> vive actualmente bajo {{ .Host }}, puedes acceder a él añadiendo una entidad
          <a class="underline decoration-dotted"
            href="https://github.com/nostr-protocol/nips/blob/master/19.md">NIP-19</a>
          (<code>npub</code>, <code>nevent</code>, <code>naddr</code>,
          etc) después del dominio:
          <span class="rounded bg-lavender px-1 dark:bg-garnet">{{ .Host }}/&lt;nip-19-entity&gt;</span>.
        </p>
        <p class="my-3 leading-5">
          Por ejemplo, aquí hay
          <a class="underline decoration-dotted"
            href="/npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9">un perfil de
            usuario</a>,
          <a class="underline decoration-dotted"
            href="/nevent1qqstnl4ddmhc0kzqpj7p543pvq9nvppc4laewc9x5ppucz7aagsa4dspzemhxue69uhhyetvv9ujumn0wd68ytnzv9hxgqgewaehxw309ac8junpd45kgtnxd9shg6npvchxxmmdqyv8wumn8ghj7un9d3shjtnndehhyapwwdhkx6tpdsds02v2">una
            nota</a>
          y una
          <a class="underline decoration-dotted"
            href="/naddr1qqxnzd3cxqmrzv3exgmr2wfeqy08wumn8ghj7mn0wd68yttsw43zuam9d3kx7unyv4ezumn9wshszyrhwden5te0dehhxarj9ekk7mf0qy88wumn8ghj7mn0wvhxcmmv9uq3zamnwvaz7tmwdaehgu3wwa5kuef0qy2hwumn8ghj7un9d3shjtnwdaehgu3wvfnj7q3qdergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsxpqqqp65wy2vhhv">larga
            entrada de blog</a>.
        </p>

        <h2 class="text-2xl font-serif text-strongpink">
          Pruébalo ahora, salta a algún contenido Nostr
        </h2>

        <div class="my-3 mb-8 rounded-lg bg-zinc-100 p-4 pb-3 dark:bg-neutral-800 sm:p-6 sm:pb-4">
          <form _="on submit halt the event's default then go to url `/${event.target.code.value}`">
            <div class="flex flex-wrap items-center justify-center sm:flex-nowrap sm:justify-normal">
              <div class="mb-1.5 text-xl sm:mb-0">{{ .Host }}/</div>
              <input name="code" placeholder="pega un npub / nprofile / nevent / ..." autofocus
                class="ml-0 w-full basis-full rounded-lg border-0 bg-white p-2 text-base font-mono text-gray-700 placeholder:text-gray-300 focus:outline-0 dark:bg-zinc-900 dark:text-neutral-50 dark:placeholder:text-gray-400 sm:ml-1 sm:basis-11/12 sm:rounded-s-lg" />
              <button
                class="ml-0 w-full basis-full rounded-lg border-0 bg-strongpink p-2 text-base uppercase text-white sm:-ml-4 sm:basis-2/12 sm:rounded-s-lg">
                Ver
              </button>
            </div>
          </form>
          <div class="mt-3 text-center text-sm sm:mt-1 sm:text-left">
            o elegir
            <a class="underline decoration-dotted" href="/random"
              _="on click halt the event then fetch /random with method:'POST' then tell <input[name='code'] /> set @value to result">algún
              contenido al azar</a>
          </div>
        </div>

        <p class="my-3 leading-5">
          Hay varias razones para elegir <i>njump</i> a la hora de compartir contenidos de Nostr fuera de Nostr:
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Limpio, rápido y sólido</h2>
        <p class="my-3 leading-5">
          Las páginas de <i>njump</i> son extremadamente ligeras y rápidas de cargar porque no contienen javascript del
          lado
          del cliente; son minimalistas y prestan la debida atención a la tipografía, centrando el contenido sin
          detalles innecesarios. Además, se almacenan en caché, por lo que al compartir una página puedes esperar que la
          otra parte la cargue sin ningún fallo en una fracción de segundo: ¡la herramienta perfecta para incorporar
          nuevos usuarios!
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Buena vista previa</h2>
        <p class="my-3 leading-5">
          <i>njump</i> renderiza todo en el lado del servidor, por lo que es capaz de generar previsualizaciones
          enriquecidas útiles que funcionan en Telegram, Discord, Twitter y otros lugares.
        </p>
        <p class="my-3 leading-5">
          Al abrir la URL directamente en un navegador, los visitantes encontrarán
          contenido de referencia, como imágenes, vídeos y enlaces a eventos de Nostr
          de una forma sencilla pero eficaz. Muestra la nota
          padre, lo que permite al visitante seguirla y dispone de CSS personalizado
          para imprimir o exportar a PDF.
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Cooperativo (jump-out)</h2>
        <p class="my-3 leading-5">
          <i>njump</i> is not interested capturing users at all, on the
          contrary it invites them to "jump" to the Nostr resource by picking
          from a list of web clients or with a <code>nostr:</code> for native
          clients. It even remembers the most used one for each visitor and
          puts it on the top for fast clicking or tap.

          A <i>njump</i> no le interesa en absoluto captar usuarios, al contrario, les invita a "saltar" al recurso
          Nostr eligiendo de una lista de clientes web o con un <code>nostr:</code> para clientes nativos. Incluso
          recuerda el más
          utilizado por cada visitante y lo coloca en la parte superior para que se pueda pulsar o hacer clic
          rápidamente.
        </p>
        <p class="my-3 leading-5">
          ¡Apoyo <a class="underline decoration-dotted"
            href="https://github.com/nostr-protocol/nips/blob/master/89.md">NIP-89</a>
          en camino!
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">
          Búsqueda fácil (jump-in)
        </h2>
        <p class="my-3 leading-5">
          Esto es crucial: las páginas de <i>njump</i> son estáticas para que los motores de búsqueda puedan indexarlas,
          esto
          significa que <i>njump</i> puede ayudar a otros a descubrir grandes contenidos en Nostr, ¡apúntate y únete a
          nosotros! njump es el único recurso de nostr que tiene este objetivo explícito, si te importa que una buena
          nota pueda ser encontrada online usa <i>njump</i> para compartirla, de esta forma también ayudas a que Nostr
          florezca.
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Compartir perfiles NIP-05</h2>
        <p class="my-3 leading-5">
          Ahora puedes compartir tu propio perfil con un bonito permalink inspirado en el
          <a class="underline decoration-dotted"
            href="https://github.com/nostr-protocol/nips/blob/master/05.md">NIP-05</a>
          :
          <span class="rounded bg-lavender px-1 dark:bg-garnet">{{ .Host }}/&lt;nip-5&gt;</span>, por ejemplo:
          <a class="underline decoration-dotted" href="/nvk.org">https://{{ .Host }}/nvk.org</a>
          o
          <a class="underline decoration-dotted" href="/mike@mikedilger.com">https://{{ .Host
            }}/mike@mikedilger.com</a>.
        </p>
        <p class="my-3 leading-5">
          Un perfil muestra la información básica de los metadatos, los relays "outbox" utilizados
          y las últimas notas.
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">
          Compartir en Twitter y Telegram
        </h2>
        <p class="my-3 leading-5">
          Ahora puedes compartir rápidamente y sin esfuerzo notas de Nostr en Twitter y Telegram, y quizás en muchas
          otras "plataformas sociales": sólo tienes que soltar un enlace, y njump renderizará el texto de la nota usando
          la imagen de previsualización como lienzo, para maximizar la experiencia y la utilidad de compartir.<br />
          ¡En Telegram también tenemos la vista instantánea para acceder a contenidos largos
          in-app!
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Vista de relays</h2>
        <p class="my-3 leading-5">
          Con
          <span class="rounded bg-lavender px-1 dark:bg-garnet">{{ .Host }}/r/&lt;relay-host&gt;</span> puedes ver el
          último contenido enviado a un relay, por ejemplo:
          <a class="underline decoration-dotted" href="/r/nostr.wine">https://{{ .Host }}/r/nostr.wine</a>
        </p>
        <p class="my-3 leading-5">
          Existen algunas informaciones básicas (<a
            href="https://github.com/nostr-protocol/nips/blob/master/11.md">NIP-11</a>); esperamos que los operadores
          empiecen a hacerlas más personales e informativas para que los usuarios puedan tener una manera de evaluar
          si/cuándo unirse a un relay.
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Widgets del sitio web</h2>
        <p class="my-3 leading-5">
          Puedes incrustar notas, contenidos extensos y perfiles en una página web con un simple script:<br />
          <span class="rounded bg-lavender px-1 dark:bg-garnet">&lt;script src="https://{{ .Host
            }}/embed/&lt;nip-19-entity&gt;" /&gt;</span>
        <div class="sm:flex gap-8 mt-4">
          <div class="flex-auto mb-4 sm:mb-0">
            <script src="/embed/npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9"></script>
          </div>
          <div class="flex-auto">
            <script
              src="/embed/naddr1qqxnzd3cxqmrzv3exgmr2wfeqy08wumn8ghj7mn0wd68yttsw43zuam9d3kx7unyv4ezumn9wshszyrhwden5te0dehhxarj9ekk7mf0qy88wumn8ghj7mn0wvhxcmmv9uq3zamnwvaz7tmwdaehgu3wwa5kuef0qy2hwumn8ghj7un9d3shjtnwdaehgu3wvfnj7q3qdergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsxpqqqp65wy2vhhv"></script>
          </div>
        </div>
        </p>

        <h2 class="mt-7 text-2xl font-serif text-strongpink">Herramienta del inspector</h2>
        <p class="my-3 leading-5">
          Ya sabes, todos somos programadores, incluidas nuestras madres, así que para cada página <i>njump</i> puedes
          activar el interruptor "Mostrar más detalles" e inspeccionar el JSON completo del evento. Sin instalar otras
          herramientas (como
          <a class="underline decoration-dotted" href="https://github.com/fiatjaf/nak">nak</a>)
          esta es probablemente la forma más rápida de acceder a eso.
        </p>
      </div>
    </div>
  </div>

  {{template "footer" .}}
</body>

</html>